extends layout


block content

	.jumbotron
		.container
			h1= title
			p Welcome to #{title}
			p
				a(href="/more").btn.btn-primary.btn-large Learn more			

	

	footer &copy;2014 - Abdelkader Djehaf


block more 